{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">

  <div class="hero-content">
    <h1>Contact Us</h1>
    <p>We’d love to hear from you. Let’s talk!</p>
  </div>
</section>

<section class="card-container">
 <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@zentrixon.com&su=Inquiry%20from%20Website&body=Hi%20Team%20Zentrixon,%0D%0A%0D%0AI%20would%20like%20to%20get%20in%20touch%20regarding..." target="_blank" class="card">

    <div class="card-content">
      <h3>Email</h3>
      <p>contact@zentrixon.com</p>
    </div>
  </a>
  <div class="card">
    <div class="card-content">
      <h3>Phone</h3>
      <p>+91 98765 43210</p>
    </div>
  </div>
  <a href="https://www.linkedin.com/company/zentrixon" target="_blank" class="card">
  <div class="card-content">
    <h3>LinkedIn</h3>
    <p>linkedin.com/company/zentrixon</p>
  </div>
</a>

<a href="https://github.com/zentrixon" target="_blank" class="card">
  <div class="card-content">
    <h3>GitHub</h3>
    <p>github.com/zentrixon</p>
  </div>
</a>

<a href="https://www.google.com/maps?q=Zentrixon+Technologies+India" target="_blank" class="card">
  <div class="card-content">
    <h3>Location</h3>
    <p>Bangalore, India</p>
  </div>
</a>

</section>


{% endblock %}
